<h1>Add New Post</h1>
<%= form_for @post do |f| %>

<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %><br/>
</p>

<p>
  <%= f.label :body %><br/>
  <%= f.text_field :body , size: "60x600"%><br/>
</p>

<p>
  <%= f.select :category_id, Category.all.collect{|x| [x.name, x.id]}%> <br/>
</p>

<p>
  <%= f.submit "Add Post"%>
</p>

<% end %>
