<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", root_url%></li>
      <li><%= link_to "Category", categories_path%></li>
      <li><%= link_to "Posts", posts_path%></li>
    </ul>
    <% flash.each do |key,value| %>
    <p> <%= value%> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
