<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default" role='navigation'>
      <div class="container">
        <div class="navbar-header">
          <ul class="nav nav-tabs" role="tablist">
            <li><%= link_to "Home", root_url, class: 'btn btn-primary'%></li>
            <li><%= link_to "Category", categories_path, class: 'btn btn-primary'%></li>
            <li><%= link_to "Posts", posts_path, class: 'btn btn-primary'%></li>
          </ul>
        </div>
      </div>
    </div>
    <% flash.each do |key,value| %>
    <p> <%= value%> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
